/* css reset start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *::after, *::before {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* css reset end */




/* fonts start */

/* jura-300 - cyrillic_cyrillic-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/jura-v31-cyrillic_cyrillic-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jura-regular - cyrillic_cyrillic-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/jura-v31-cyrillic_cyrillic-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jura-500 - cyrillic_cyrillic-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/jura-v31-cyrillic_cyrillic-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jura-600 - cyrillic_cyrillic-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/jura-v31-cyrillic_cyrillic-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jura-700 - cyrillic_cyrillic-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/jura-v31-cyrillic_cyrillic-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* kristi-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Kristi';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/kristi-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-family: 'Tsarevich';
    src: url('fonts/Tsarevich-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: 'Tsarevich';
    src: url('fonts/Tsarevich-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* fonts end */




/* переменные start */

:root {
    --font-family: "Jura", sans-serif;
    --second-family: "Tsarevich", sans-serif;
    --third-family: "Kristi", sans-serif;
}

body {
    font-family: var(--font-family);
}

.wrapper {
    max-width: 1292px;
    margin: 0 auto;
}

/* переменные end */




/* HEADER START */

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    max-width: 1038px;
    margin: 0 auto;
    padding: 21px 0;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
}

header nav ul li {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px 12px;
    background: #fff;
}

header nav ul li a {
    font-weight: 700;
    font-size: 24px;
    line-height: 88%;
    text-align: center;
    color: #000;
    text-decoration: none;
}

/* HEADER END */




/* FOOTER START */

.footer-cont {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 43px 0;
}

.footer-cont ul > :not(:last-child) {
    margin-bottom: 22px;
}

.footer-cont a {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #0e111e;
    text-decoration: none;
}

/* FOOTER END */




/* ART SCHOOL PAGE START */


/* hero start */

.hero {
    min-height: 853px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 210px;
    text-align: center;
    color: #000;
    line-height: 70%;
}

.hero h1 span {
    font-size: 128px;
}

.fly {
    background: #0e111e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden; 
    padding: 33px 0;
    z-index: 2;
}


.fly p {
    display: inline-block;
    min-width: 100%;
    animation: marquee 20s linear infinite;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.fly p span {
    font-weight: 600;
    font-size: 48px;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.hero-desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    text-align: center;
    color: #000;
}

/* hero end */


/* accordion start */

.accordion {
    padding-top: 853px;
    margin-top: 24px;
}

.accordion-top {
    border-radius: 27px;
    padding: 41px 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.accordion-top-active {
    border-radius: 27px 27px 0 0;
}

.accordion-top h3 {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #fff;
    max-width: 900px;
    margin-bottom: 44px;
}

.accordion-top p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 44px;
}

.accordion-top button {
    border: none;
    background: transparent;
}

.accordion-bottom {
    padding: 43px 54px;
    display: flex;
    border: 1px solid #000;
    border-radius: 27px;
    gap: 30px;
    justify-content: space-between;
}

.accordion-bottom-active {
    border-top: none;
    border-radius: 0 0 27px 27px;
}

.accordion-bottom > :first-child,
.accordion-bottom > :last-child {
    flex: 1;
}

.accordion-bottom h6 {
    font-weight: 700;
    font-size: 48px;
    color: #000;
    margin-bottom: 30px;
}

.accordion-bottom p,
.accordion-bottom a {
    font-weight: 600;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.accordion-bottom p {
    margin-bottom: 30px;
}

.accordion-bottom button {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.accordion-cont > :not(:last-child) {
    margin-bottom: 45px;
}

.button-acc {
    transition: transform 0.3s ease;
}

/* accordion end */


/* ART SCHOOL PAGE END */



/* MUSEUMS START  */

.bear {
    position: absolute;
    left: 150px;
    bottom: 75px;
}


.tab-container {
    overflow: hidden; /* Чтобы убрать возможные выступы */
    margin-top: 853px;
    padding: 0 15px 20px 15px;
}

.tab-buttons {
    display: flex;
    border-radius: 10px;
    padding: 12px;
    background: #4b1300;
    margin-top: 24px;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    gap: 12px;
}

.tab-buttons-cont {
    display: flex;
    justify-content: center;
}

.tab-button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    font-size: 24px;
    line-height: 88%;
    text-align: center;
    color: #4b1300;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px 12px;
    background: #fff;
    font-family: var(--font-family);
}

.tab-button.active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.tab-content {
    padding: 15px;
}

.tab-panel {
    display: none; /* Скрываем все панели по умолчанию */
}

.tab-panel.active {
    display: block;
}

.tabs-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 79px;
}




.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d; /* Важно для 3D трансформаций */
    height: 555px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg); /* Переворачиваем заднюю сторону изначально */
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 69px 24px 37px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab-panels {
    margin-top: 24px;
}

.card-front {
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-front h6 {
    color: #543000;
}

.card-back h6 {
    color: #000;
}

.card-front h6,
.card-back h6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 219%;
}

.card-front p{
    font-weight: 600;
    font-size: 20px;
    color: #543000;
    max-width: 205px;
    margin-bottom: 12px;
}

.card-front button {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #543000;
    border: 1px solid #543000;
    border-radius: 10px;
    padding: 8px 56px;
    background: transparent;
}

.card-back p {
    font-weight: 400;
    font-size: 28px;
    color: #000;
}

.card-back h5 {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
}

.card-site {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 12px;
    background: #fff;
}

.back-button {
    border: none;
    background: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
}

.hero-text p {
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    text-align: center;
    color: #000;
}

/* MUSEUMS END  */



/* EVENTS START */

.bear2 {
    position: absolute;
    right: 0;
    bottom: 70px;
    z-index: 1;
}

.events-tab-1-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.events-tab-1-grid-item  {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}

.events-tab-1-grid-item > :first-child {
    min-height: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.events-tab-1-grid-item > :first-child h4 {
    font-weight: 700;
    font-size: 64px;
    line-height: 109%;
    color: #fff;
}

.events-tab-1-grid-item-bg {
    position: relative;
    color: white;
    padding: 20px;
    z-index: 1; 
}

.events-tab-2-grid-item {
    position: relative;
    z-index: 1; 
}

.events-tab-1-grid-item-bg::before,
.events-tab-2-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.data-events {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin-top: 10px;
}

.events-tab-1-grid-item > :nth-child(2) {
    padding: 24px;
}

.events-tab-1-grid-item > :nth-child(2) > p {
    font-weight: 400;
    font-size: 20px;
    color: #000;
    margin-bottom: 10px;
}

.events-tab-1-grid-item > :nth-child(2) > button {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px 12px;
    background-color: transparent;
    font-family: var(--font-family);
}


.tab-button-events {
    color: #1481ea;
}

.events-tab-2-grid-item {
    border-radius: 27px;
    padding: 41px 82px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-tab-2-grid-item h3 {
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
}

.events-tab-2-grid-item p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
}

.events-tab-2-grid-item button {
    border-radius: 10px;
    padding: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #0e111e;
    border: none;
    width: 60%;
}

.events-tab-2-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
}

.cont-1 {
    display: flex;
    gap: 24px;
}

.cont-1 > :first-child {
    flex: 3.7;
}

.cont-1 > :last-child {
    flex: 1;
}

.cont-1-2 {
    background: url('./images/bg-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 27px;
    position: relative;
    overflow: hidden;
    padding: 63px 30px 23px 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-1-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

.cont-1-2 h6 {
    font-weight: 700;
    font-size: 52px;
    color: #fff;
    margin-bottom: 20px;
}

.cont-1-2 p {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-bottom: 37px;
}

.cont-1-1-1 {
    display: flex;
    border: 1px solid #000;
    border-radius: 27px;
    overflow: hidden;
    min-height: 261px;
}

.cont-1-1-1 > :first-child {
    background: #1481EA;
    flex: 1;
    padding: 20px;
    position: relative;
}

.cont-1-1-1 > :last-child {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 32px;
    justify-content: center;
    flex: 3;
}

.cont-1-1-1 > :last-child h6 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}

.cont-1-1-1 > :last-child p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #000;
}

.cont-1-1-1 > :first-child img {
    position: absolute;
}

.cont-1-1-2-2 {
    display: flex;
    gap: 24px;
    min-height: 261px;
}

.cont-1-1-2-2-1{
    flex: 1;
    background: #1481ea;
    border-radius: 27px;
    padding: 16px;
}

.cont-1-1-2-2-2 {
    flex: 2;
    background: url('./images/bg-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 27px;
}

.cont-1-1-2-2-1 > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 13px;
}

.cont-1-1-2-2-1 p {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.cont-1-1,
.cont-1-1-2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cont-1-1-2-2-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 51px;
}

.cont-1-1-2-2-2 h6 {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #fff;
}

.cont-1-1-2-2-2 p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.cont-1-1-2-1 {
    display: flex;
    gap: 24px;
}

.cont-1-1-2-1-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cont-1-1-2-1-2 {
    flex: 1;
    background: url('./images/bg-10.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 27px;
    padding: 38px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-1-1-2-1-2 h6 {
    font-weight: 700;
    font-size: 40px;
    line-height: 117%;
    color: #fff;
}

.cont-1-1-2-1-2 p {
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    margin-top: 18px;
}

.cont-1-1-2-1-1-2 {
    background: url('./images/bg-12.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    gap: 10px;
    flex: 1;
    min-height: 261px;
}

.cont-1-1-2-1-1-2 h6 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.cont-1-1-2-1-1-2 p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.cont-1-1-2-1-1-1 {
    display: flex;
    gap: 24px;
    min-height: 261px;
}

.cont-1-1-2-1-1-1-1 {
    border: 1px solid #000;
    border-radius: 27px;
    padding: 22px;
    flex: 1;
}

.cont-1-1-2-1-1-1-2 {
    background: url('./images/bg-11.png');
    flex: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 27px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cont-1-1-2-1-1-1-2 h6{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.cont-1-1-2-1-1-1-2 img {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.cont-1-1-2-1-1-1-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-1-1-2-1-1-1-1 h6 {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.cont-1-1-2-1-1-1-1 div {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

/* EVENTS END */






/* concert-venues start */

.dop-text {
    font-family: var(--second-family);
    font-size: 128px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

/* concert-venues end */




/* control-culture start */


.control-culture {
    margin-top: 853px;
    padding-top: 140px;
    padding-bottom: 90px;
}

.control-culture-cont {
    display: flex;
    gap: 23px;
}

.control-culture-cont > :last-child {
    border-radius: 10px;
    padding: 24px;
    background: #ffc200;
    flex: 1;
}

.control-culture-cont > :first-child {
    flex: 2.6;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.control-culture-cont > :last-child h6 {
    font-weight: 700;
    font-size: 32px;
    line-height: 88%;
    text-align: center;
    color: #0e111e;
    margin-bottom: 64px;
}

.text-12 {
    font-weight: 400;
    font-size: 16px;
    line-height: 88%;
    text-align: justify;
    color: #0e111e;
    margin-bottom: 64px;
}

.control-culture-cont > :last-child div {
    display: flex;
    justify-content: space-between;
}

.control-culture-cont > :last-child div p {
    font-weight: 400;
    font-size: 24px;
    line-height: 88%;
    color: #0e111e;
}

.culture-1 {
    border-radius: 10px;
    padding: 24px;
    background: #0e111e;
}

.culture-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    color: #fff;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 23px;
}

.culture-2 {
    display: flex;
    gap: 23px;
}

.culture-2-1 {
    flex: 1;
    background: #1481ea;
    border-radius: 10px;
    padding: 24px;
}

.culture-2-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.culture-2-2-1 {
    background: #8d0002;
    border-radius: 10px;
    padding: 24px;
    width: 100%;
}

.culture-2-2-2 {
    border-radius: 10px;
    padding: 24px;
    background: #8bd3ff;
    width: 100%;
}

.swiper-container-cult
.swiper-wrapper
.swiper-slide
 {
    border-radius: 20px;
    box-shadow: -10px 0 15px 0 rgba(0, 0, 0, 0.48);
    padding: 23px 12px;
    min-height: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.swiper-container-cult {
    padding: 30px 0;
}

.s-top {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 9px;
}

.s-top button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #0e111e;
    border: 1px solid #0e111e;
    border-radius: 23px;
    padding: 2px 15px;
    background-color: transparent;
}

.s-bottom h6 {
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    color: #0e111e;
    margin-bottom: 24px;
}

.s-bottom p {
    font-weight: 400;
    font-size: 16px;
    line-height: 88%;
    color: #0e111e;
    margin-bottom: 24px;
}

.s-bottom button {
    border-radius: 23px;
    padding: 13px 24px;
    background: #0e111e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
}

.s-bottom button span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 88%;
}

.bel {
    color: #fff!important;
    border-color: #fff!important;
}

.swiper-container-cult {
    position: relative!important;
}


.swiper-button-next, .swiper-button-prev {
    top: 50%!important;
}

.swiper-button-next {
    right: 35px!important;
}

.swiper-button-prev {
    left: 35px!important;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: ''!important;
}



.map {
    width: 100%;
    border-radius: 51px;
    overflow: hidden;
    margin: 90px 0;
}

.map .wrapper {
  width: 100%;
}

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 51px;
    padding-bottom: 50%; /* Соотношение 1:2 */
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.map-label {
    position: absolute;      
    top: 0px;                
    left: 0px;             
    z-index: 10;                
    background-color: rgba(255, 255, 255, 1); 
    padding: 31px 20px;         
    border-radius: 0 0 16px 0;              
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    color: #0e111e;        
}







.info-block {
    width: 100%; /* Или задайте нужную ширину */
  }
  
  .block-item {
    margin-bottom: 10px;
    border-radius: 12px; /* Углы в стиле image */
    border: 1px solid #0e111e; /* Рамка, если нужно */
    overflow: hidden; /* Чтобы border-radius работал */
    background-color: #fff; /* Задний фон */
  }
  
  .block-header {
    padding: 10px;
    background-color: #fff;
    cursor: pointer; /* Рука при наведении */
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    color: #0e111e;
  }
  
  .block-content {
    padding: 15px;
    display: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 102%;
    color: #0e111e;
  }
  
  .block-sign {
    margin-right: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    color: #0e111e;
    
  }
  
  /* Стиль для открытого аккордеона */
  .block-item.active .block-content {
    display: block; /* Показываем контент */
  }

  .accordeon-two {
    margin-bottom: 90px;
  }

/* control-culture end */





/* leisure start */


.leisure-hero-title {
    font-size: 150px!important;
    line-height: 90%!important;
    padding-top: 170px;
}


.tab-button-yellow {
    color: #fc3;
}

.leisure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
}

.leisure-grid-item {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 32px 52px;
}

.leisure-grid-item > :first-child {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.leisure-grid-item h6 {
    font-weight: 700;
    font-size: 55px;
    line-height: 127%;
    color: #000;
}

.leisure-grid-item p {
    font-weight: 400;
    font-size: 48px;
    color: #000;
    margin-top: 12px;
    margin-bottom: 24px;
}

.leisure-grid-item button {
    font-family: var(--font-family);
    border-radius: 10px;
    padding: 10px;
    background: #000;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    width: 100%;
}

/* leisure end */





/* info start */

.info-hero-title {
    font-size: 300px!important;
    line-height: 50%!important;
    color: #fff!important;
    padding-top: 100px!important;
}

.info-hero-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 88%;
    text-align: center;
    color: #fff;
    max-width: 1000px;
}

.flex-info {
    flex-direction: column;
    justify-content: space-between!important;
    height: auto;
}

.flex-info-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #1481ea!important;
}

.flex-info-cont > :first-child {
    flex: 1;
}

.flex-info-cont > :last-child {
    flex: 4;
}

.info-1 {
    background: #fc3!important;
}

.info-2 {
    background: #0e111e!important;
}

.dop-culture {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.dop-culture > :first-child {
    flex: 1;
    background: #1481ea!important;
}

.dop-culture > :last-child {
    flex: 3;
}

.map-info {
    margin-top: 0!important;
}

/* info end */




/* library start */


.library-hero-title {
    margin-bottom: 50px;
    padding-top: 200px!important;
}


.swiper-container-lib {
    margin-top: 48px;
}

.swiper-container-lib
.swiper-wrapper
.swiper-slide
 {
    padding: 55px 12px 24px 12px;
    box-shadow: 10px 17px 10px 0 rgba(0, 0, 0, 0.25);
    min-height: 617px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mt-12 {
    padding-top: 853px!important;
}

.swiper-container-lib
.swiper-wrapper
.swiper-slide h6 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.swiper-container-lib
.swiper-wrapper
.swiper-slide p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}


.lib-flex-end {
    display: flex;
    justify-content: flex-end;
}

.lib-flex {
    display: flex;
}

.swiper-container-lib
.swiper-wrapper
.swiper-slide button {
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
}

.swiper-container-lib {
    position: relative;
}

/* library end */






@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.paw-print {
    position: absolute;
    width: 25px; /* Размер отпечатка */
    height: 25px;
    background: url('./images/bear.svg') no-repeat center center; /* Изображение отпечатка лапы */
    background-size: contain;
    pointer-events: none;
    animation: fadeout 1s forwards;
    z-index: 9999;
}

  body {
    margin: 0;
    overflow: hidden; 
  }













  .print {
    animation-duration: 8s;
    animation-name: blurout;
    animation-fill-mode: forwards;
    height: 40px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 40px;
    z-index: 9999;
    }
    .print::before {
    animation-duration: .5s;
    animation-name: fadein;
    background: url('./images/lapka.svg') no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    }
     
    @keyframes fadein {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
    }
    @keyframes blurout {
    from {
    filter: blur(0px);
    }
    to {
    filter: blur(5px);
    }
    }







/* home start */


.home-main {
    background: #0e111e;
}

.home-hero {
    padding: 59px 0;
}

.home-hero-cont {
    background: url('./images/home-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    border-radius: 10px;
    padding: 174px 30px 160px 85px;
    border: 2px solid #fff;
    position: relative;
}

.home-hero-cont h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 180px;
    color: #fff;
    letter-spacing: 1rem;
}

.home-hero-cont h1 span {
    font-weight: 400;
    letter-spacing: 0.0001rem;
}

.home-hero-cont p {
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    color: #fff;
    margin-top: 28px;
}


.time {
    border-radius: 7px;
    padding: 6px 29px;
    background: #fff;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    color: #0e111e;
    position: absolute;
    border: none;
    top: -25px;
    left: 25px;
}

.logo-home {
    position: absolute;
    border: none;
    top: -45px;
    right: 25px;
}

.home-menu-block {
    display: flex;
    gap: 30px;
}

.home-menu-block > :first-child {
    flex: 1;
}

.home-menu-block > :last-child {
    flex: 2;
}

.home-menu-cont {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.home-menu-item {
    border: 1px solid rgba(255, 255, 255, 0.55);
    border-radius: 10px;
    padding: 24px 48px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in-out .3s;
    cursor: pointer;
    position: relative;
    z-index: 100000000000000000;
}

.home-menu-item:hover {
    background: #012f49;
    border: 1px solid #fff;
    transform: scale(1.1);
}

.home-menu-item > :first-child > :first-child {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 128px;
    color: rgba(255, 255, 255, 0.55);
    transition: all ease-in-out .3s;
}


.home-menu-item:hover :first-child > :first-child {
    color: rgba(255, 255, 255, 1);
}

.home-menu-item > :first-child > :last-child {
    font-weight: 500;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.55);
    transition: all ease-in-out .3s;
}

.home-menu-item:hover 
:first-child > :last-child {
    color: rgba(255, 255, 255, 1);
}

.home-menu-item > :first-child  {
    display: flex;
    align-items: center;
    gap: 12px;
}

.home-lapki-cont div > :first-child {
    margin-bottom: 70px;
}

.home-lapki-cont > div {
    opacity: 0; /* Изначально скрываем элементы */
    transition: opacity 3s ease-in-out; /* Плавное появление */
}


.home-menu-item img {
    opacity: 0;
    transition: all ease-in-out .3s;
}

.home-menu-item:hover img {
    opacity: 1;
}

.home-footer nav ul li a {
    color: #fff;
}

/* home end */